*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    
    font-family: 'times new roman';
    font-size: 1.8rem;
}

main{
    padding-top: 7rem;
}

table, td, th{
    border: 1px solid black;
}

table{
    font-size: 2.4rem;
    border-collapse: separate;
}

[data-company]{
    background-color: red;
}

table tr:first-child{
    background-color: steelblue;
    color: white;
}

table tr:nth-child(2n+3){
    background-color: #AAA;
}

h1{
    color: blueviolet;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    font-size: 4.6rem;
    /* display: none; */
    visibility: hidden;
}

a{
    background-color: steelblue;
    color: white;
    border: none;
    font-size: 2.8rem;
    padding: 0.6rem 2.4rem;
    cursor: pointer;
    margin: auto;
    width: 100%;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in-out, background-color 1s ease-in-out ;

    display: block;

}

[data-anchor="products"]{
    background-color: steelblue;
    color: white;
    border: none;
    font-size: 2.8rem;
    padding: 0.6rem 2.4rem;
    cursor: pointer;
    margin: auto;
    width: 100%;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in-out, background-color 1s ease-in-out ;

    display: block;

    /* transform: scale(0.5); */
}

[data-anchor="products"]:hover{
    background-color: aqua;
    color: white;
    transform: scale(1.2) ;
}

[data-anchor="team"]{
    margin-top: 2rem;
    animation: pulse .2s infinite;
    /* animation-fill-mode: forwards; */
    animation-direction: alternate;
    transform: scale(1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.35);
        opacity: .6;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.spinner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.fa-spinner{
    margin-top: 3rem;
    margin: 4rem;
    font-size: 5rem;
    color: blueviolet;
    animation: load 1s infinite;
}

@keyframes load{
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', arial, cursive;
}

h2{
    font-size: 2.4rem;
}

.novo-em{
    font-size: 300%;
}

p{
    font-size: 1.8rem;
    text-align: justify;
    text-indent: 90px;
}




div.bg{
    height: 20vh;
    width: 100%;
    background-color: #555;
    background-image: url('https://images.unsplash.com/photo-1682685797741-f0213d24418c?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

ul,ol{
    padding-left: 3.2rem;
   
}

ul{
    list-style: square;
}

ol{
    list-style: upper-roman;
}

nav.menu{
    position: fixed; 
    background-color: steelblue;
    width: 100%;
    height: 7rem;
    z-index: 1;

}

.contact-list h2{
    top: 7rem;
    position: sticky;
    background-color: red;
}

.boxes{
    position: relative;
    display: flex;
    flex-wrap: wrap;
   
}

span{
    display: none;
}

.box{
    flex: 30%;
    height: 10rem;
    width: 20rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: blue;
    color: white;
    border: 10px solid red;
    display: inline-block;
    border-radius: .4rem;
    position: static;
    

}

/* .box:nth-child(1){
    position: absolute;
    top: 2rem;
    left: 3rem;
} */

/* .box:nth-child(2){
    position: fixed;
    top: 1.5rem;
    left: 3rem;

} */



img{
    height: 10rem;
    width: 14rem;
    object-fit: cover;
}

@media screen and (min-width: 1000px){
    .bg{
        height: 50vh;
    }

}

@media screen and (min-width: 768px) and (max-width: 999px){
    .bg{
        height: 80vh;
    }

}

@media  screen and (max-width: 766px) {
    /* table {
        display: none;
    }

    h1{
        color: red;
    } */
    
}





@media print{
    .bg{
        display: none;
    }
}
